/*-- scss:defaults --*/
$navbar-bg: #ffffff;
$navbar-fg: #000000;
$navbar-hl: #1eb51e; // Color verde para el sombreado

/* css styles */

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');
:root {
  --main-font: 'Nunito Sans';
}