/*-- scss:defaults --*/
$navbar-bg: #ffffff;
$navbar-fg: #000000;
$navbar-hl: #1eb51e; // Color verde para el sombreado

/* css styles */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
:root {
  --main-font: 'Roboto', sans-serif;
}