@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.nav-tabs .nav-link {
  color: #474747 !important;
  font-weight: 600;
  font-size: 15px;
  padding: 13px 15px;
}

.nav-tabs .nav-link.active {
  color: #474747 !important;
}

.nav-tabs .nav-link:hover {
  background-color: #419510; /* Cambia el color de fondo a verde */
  color: white !important; /* Cambia el color del texto a blanco */
  border-color: #419510; /* Cambia el color del borde a verde */
  
}

